NODE_ENV=development
PORT=8080
DATABASE_URL=postgresql://uniremind:uniremind@localhost:5432/uniremind?schema=public
ALLOWED_ORIGIN=http://localhost:3000

GOOGLE_CLIENT_ID=438046820591-svocjjhg2863gt8ofurm81do4qgsn0qp.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:8080/api/auth/google/callback
JWT_SECRET=4dde096800dc75a6960625036e36941a9d27ef2eae2e7c29f229b3be5fd4ef3f
JWT_EXPIRES_IN=7d

OPENAI_API_KEY=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
